{% extends 'base_3.html' %} {% block title %}
  Tarea - Detalle de la Tarea
{% endblock %} {% block content %}
  <div class="c-toolbar u-mb-medium">
    <a class="c-btn c-btn--info u-mr-auto" href="{% url 'task:task_list' %}">Volver al listado</a>
    <nav class="c-counter-nav">
      <p class="c-counter-nav__title">Estado:</p>
      <div class="c-counter-nav__item">
        <span class="c-badge c-badge--small" style="background-color: {{ task.status.color }};">{{ task.status }}</span>
      </div>
      <p class="c-counter-nav__title">Prioridad:</p>
      <div class="c-counter-nav__item">
        <span class="c-badge c-badge--small" style="background-color: {{ task.priority.color }};">{{ task.priority }}</span>
      </div>
      <p class="c-counter-nav__title">Tipo:</p>
      <div class="c-counter-nav__item">
        <span class="c-badge c-badge--small" style="background-color: {{ task.type.color }};">{{ task.type }}</span>
      </div>
    </nav>
    <a class="c-btn c-btn--info u-ml-small" href="{% url 'task:task_update' task.id %}"><i class="fa fa-pencil-square-o u-mr-xsmall"></i>Editar Tarea</a>
    <a class="c-btn c-btn--danger u-ml-small" href="#" onclick="showAlertTask('{{ task.id }}', '{{ task.subject }}')"><i class="fa fa-trash-o u-mr-xsmall"></i>Eliminar Tarea</a>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% if messages %}
        <div class="col-lg-12">
          {% for message in messages %}
            <div class="c-alert {% if message.tags %}{{ message.tags }}{% endif %} alert fade show">
              <i class="c-alert__icon fa fa-check-circle"></i> {{ message }}
              <button class="c-close" data-dismiss="alert" type="button">×</button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="col-xl-6">

        <article class="c-stage" id="stages">
          <a class="c-stage__header u-flex u-justify-between" data-toggle="collapse" href="#stage-panel1" aria-expanded="false" aria-controls="stage-panel1">
              <div class="o-media">
                  <div class="c-stage__header-title o-media__body">
                    <h2 class="u-mb-zero">{{ task.subject }}</h2>                      
                  </div>
              </div>
              
              <i class="fa fa-angle-down u-text-mute"></i>
          </a>

          <div class="c-stage__panel c-stage__panel--mute collapse show" id="stage-panel1">
              <div class="u-p-medium">
                  {% if task.description %}
                    <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Descripción</p>
                    <p class="u-mb-medium">{{ task.description }}</p>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-6">
                      <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Proyecto</p>
                      <p class="u-mb-medium">{{ task.project }}</p>
                    </div>

                    <div class="col-md-6">
                      <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Horas trabajadas</p>
                      <p class="u-mb-medium">{{ task.estimated_time }}</p>
                    </div>
                </div>
              </div>
          </div><!-- // .c-stage__panel -->

          <a class="c-stage__header u-flex u-justify-between" data-toggle="collapse" href="#stage-panel2" aria-expanded="false" aria-controls="stage-panel2">
              <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Archivos</h6>

              <i class="fa fa-angle-down u-text-mute"></i>
          </a>

          {% if attachments %}
          <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel2">
            <div class="u-p-medium">
              <ul>
                {% for file in attachments %}
                <li class="u-mb-xsmall u-text-small u-color-primary">
                  <i class="fa fa-file-image-o u-text-mute u-mr-xsmall"></i>{{ file }}
                  <div class="u-float-right">
                    <a class="u-text-mute u-text-small" href="{% url 'task:task_download_attachment' file.id %}"><i class="fa fa-cloud-download u-mr-xsmall"></i></a>
                    <button class="u-text-mute u-text-small btn-delete" data-attachment-id="{{ file.id }}" style="background: transparent; border: 0;"><i class="fa fa-trash-o"></i></a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>   
          </div><!-- // .c-stage__panel -->
          {% endif %}
        </article><!-- // .c-stage -->
        
        <div class="c-card u-mb-medium">
          <div class="u-p-medium">
            <h5 class="u-h6 u-mb-medium">Actualizar datos</h5>
            <form method="post">
              {% csrf_token %}
              <div class="c-field u-mb-small">
                <label class="c-field__label">Estado</label>
                {{ form.status }}
                {% for error in form.status.errors %}
                  <small class="c-field__message u-color-danger"><i class="fa fa-times-circle"></i>{{ error }}</small>
                {% endfor %}
              </div>

              <div class="c-field u-mb-small">
                <label class="c-field__label">Encargado</label>
                {{ form.assigned_to }}
                {% for error in form.assigned_to.errors %}
                  <small class="c-field__message u-color-danger"><i class="fa fa-times-circle"></i>{{ error }}</small>
                {% endfor %}
              </div>

              <div class="c-field u-mb-small">
                <label class="c-field__label">Horas trabajadas</label>
                {{ form.estimated_time }}
                {% for error in form.estimated_time.errors %}
                  <small class="c-field__message u-color-danger"><i class="fa fa-times-circle"></i>{{ error }}</small>
                {% endfor %}
              </div>
              <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Actualizar</button>
            </form>
          </div>
        </div>
        <div class="c-card u-p-medium u-mb-medium">
          <h5 class="u-h6 u-mb-medium">Subir archivos</h5>
          <form class="dropzone" action="{% url 'task:task_upload_file' task.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="task" value="{{ task.id }}" id="task_id" />
            <div class="dz-message" data-dz-message>
              <i class="dz-icon fa fa-cloud-upload"></i>
              <span>Arrastre un archivo aquí o busque un archivo para cargar.</span>
              <span>Maximo 2 archivos por vez.</span>
            </div>

            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form>
          <div id="message"></div>
          <button class="c-btn c-btn--info c-btn--fullwidth u-mt-small" id="submit-all">Enviar todos los archivos</button>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="c-post">
          <form method="post" action="{% url 'task:task_create_comment' task.id %}">
            {% csrf_token %}
            <textarea class="c-post__content" name="content" placeholder="Escriba un comentario."></textarea>

            <div class="c-post__toolbar">
                <button class="c-btn c-btn--success u-float-right" type="submit">Comentar</button>
            </div>
          </form>
        </div>
 
        {% if comments %}
        <ol class="c-stream">
          {% for comment in comments %}
          <li class="c-stream-item o-media">

              <div class="o-media__img u-mr-small">
                  <div class="c-avatar c-avatar--medium">
                    {% if comment.user.profile.photo %}
                    <img class="c-avatar__img" src="{{ comment.user.profile.photo.url }}">
                    {% endif %}
                  </div>
              </div>

              <div class="c-stream-item__content o-media__body">
                  <div class="c-stream-item__header">
                      <h4 class="c-stream-item__name">{{comment.user.username}}</h4>
                      <span class="c-stream-item__time">{{comment.created_at}}</span>
                  </div>

                  <p class="u-mb-small">{{comment.content}}</p>
              </div>
              
          </li>
          {% endfor %}
        </ol>
        {% endif %}
    </div>
  </div>
  <!-- // .container -->
{% endblock %}
