{% extends 'base_2.html' %} {% block title %}
  Tarea - Detalle de la Tarea
{% endblock %} {% block content %}
  <div class="c-toolbar u-mb-medium">
    <a class="c-btn c-btn--info u-mr-auto" href="{% url 'task:task_list' %}">Volver al listado</a>
    <a class="c-btn c-btn--info u-ml-small" href="{% url 'task:task_update' task.id %}"><i class="fa fa-pencil-square-o u-mr-xsmall"></i>Editar Tarea</a>
    <a class="c-btn c-btn--danger u-ml-small" href="#" onclick="showAlertTask('{{ task.id }}', '{{ task.subject }}')"><i class="fa fa-trash-o u-mr-xsmall"></i>Eliminar Tarea</a>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% if messages %}
        <div class="col-lg-12">
          {% for message in messages %}
            <div class="c-alert {% if message.tags %}{{ message.tags }}{% endif %} alert fade show">
              <i class="c-alert__icon fa fa-check-circle"></i> {{ message }}
              <button class="c-close" data-dismiss="alert" type="button">×</button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="col-xl-8">
        <article class="c-stage">
          <div class="c-stage__header o-media u-justify-start">
            <div class="c-stage__header-title o-media__body">
              <h2 class="u-mb-zero">{{ task.subject }}</h2>
            </div>
          </div>

          <div class="c-stage__panel u-p-medium">
            {% if task.description %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Descripción</p>
              <p class="u-mb-medium">{{ task.description }}</p>
            {% endif %}

            <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Proyecto</p>
            <p class="u-mb-medium">{{ task.project }}</p>

            {% if task.assigned_to %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Encargado</p>
              <div class="o-media u-mb-small">
                {% if profile_photo %}
                  <div class="o-media__img u-mr-xsmall">
                    <div class="c-avatar c-avatar--xsmall">
                      <img class="c-avatar__img" src="{{ profile_photo.url }}" alt="Profile Title" />
                    </div>
                  </div>
                {% endif %}
                <div class="o-media__body">
                  <h6 class="u-text-small u-mb-zero">{{ task.assigned_to }}</h6>
                </div>
              </div>
            {% endif %}

            <div class="row">
              <div class="col-md-4">
                <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Estado</p>
                <p class="u-mb-medium">
                  <span class="c-badge c-badge--small" style="background-color: {{ task.status.color }};">{{ task.status }}</span>
                </p>
              </div>

              <div class="col-md-4">
                <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Prioridad</p>
                <p class="u-mb-medium">
                  <span class="c-badge c-badge--small" style="background-color: {{ task.priority.color }};">{{ task.priority }}</span>
                </p>
              </div>

              <div class="col-md-4">
                <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Tipo</p>
                <p class="u-mb-medium">
                  <span class="c-badge c-badge--small" style="background-color: {{ task.type.color }};">{{ task.type }}</span>
                </p>
              </div>
            </div>
            {% if attachments %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall u-border-bottom">Archivos</p>
              <div class="o-media u-mb-small">
                <ul>
                  {% for file in attachments %}
                    <li class="u-mb-xsmall u-text-small u-color-primary">
                      <a class="u-text-mute u-text-small" href="{% url "task:task_download_attachment" file.id %}" download>
                        <i class="fa fa-cloud-download u-mr-xsmall"></i>{{ file }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
          <!-- // .c-stage__panel -->
        </article>
        <!-- // .c-stage -->
      </div>

      <div class="col-xl-4">
        <div class="c-card u-mb-medium">
          <div class="u-p-medium">
            <h5 class="u-h6 u-mb-medium">Actualizar estado y encargado</h5>
            <form method="post">
              {% csrf_token %}
              <div class="c-field u-mb-small">
                <label class="c-field__label">Estado</label>
                {{ form.status }}
                {% for error in form.status.errors %}
                  <small class="c-field__message u-color-danger"><i class="fa fa-times-circle"></i>{{ error }}</small>
                {% endfor %}
              </div>

              <div class="c-field u-mb-small">
                <label class="c-field__label">Encargado</label>
                {{ form.assigned_to }}
                {% for error in form.assigned_to.errors %}
                  <small class="c-field__message u-color-danger"><i class="fa fa-times-circle"></i>{{ error }}</small>
                {% endfor %}
              </div>
              <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Actualizar</button>
            </form>
          </div>
        </div>

        <div class="c-card u-p-medium">
          <h5 class="u-h6 u-mb-medium">Subir archivos</h5>
          <form class="dropzone" action="{% url 'task:task_upload_file' task.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="task" value="{{ task.id }}" id="task_id" />
            <div class="dz-message" data-dz-message>
              <i class="dz-icon fa fa-cloud-upload"></i>
              <span>Arrastre un archivo aquí o busque un archivo para cargar.</span>
            </div>

            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form>
          <div id="message"></div>
          <button class="c-btn c-btn--info c-btn--fullwidth u-mt-small" id="submit-all">Enviar todos los archivos</button>
        </div>
      </div>
    </div>
  </div>
  <!-- // .container -->
{% endblock %}
