{% if is_paginated %}
  <nav class="c-pagination u-justify-center">
    <ul class="c-pagination__list">
      {% if previous_index %}
        <li class="c-pagination__item">
          <a class="c-pagination__control" href="?search={{ search }}&page={{ previous_index }}"><i class="fa fa-caret-left"></i></a>
        </li>
      {% endif %} {% for i in page_obj.paginator.page_range %}
        <li class="c-pagination__item">
          {% if page_obj.number == i %}
            <a class="c-pagination__link is-active">{{ i }}</a>
            <span class="current-page">{{ i }}</span>
          {% else %}
            <a class="c-pagination__link" href="?search={{ search }}&page={{ i }}">{{ i }}</a>
          {% endif %}
        </li>
      {% endfor %} {% if next_index %}
        <li class="c-pagination__item">
          <a class="c-pagination__control" href="?search={{ search }}&page={{ next_index }}"><i class="fa fa-caret-right"></i></a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
