{% extends 'base_2.html' %}

{% block title %}
  Proyecto - Detalle del Proyecto
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-8">
            <article class="c-stage" id="stages">
                <a class="c-stage__header u-flex u-justify-between" data-toggle="collapse" href="#stage-panel1" aria-expanded="false" aria-controls="stage-panel1">
                    <div class="o-media">
                        <div class="c-stage__header-img o-media__img">
                            <img src="img/recent1.jpg" alt="About the image">
                        </div>
                        <div class="c-stage__header-title o-media__body">
                            <h6 class="u-mb-zero">Landing Page</h6>
                            <p class="u-text-xsmall u-text-mute">Posted 2 days ago  |  Expert ($$$)  |  Est. Time: Less than 1 week</p>
                        </div>
                    </div>
                    
                    <i class="fa fa-angle-down u-text-mute"></i>
                </a>

                <div class="c-stage__panel c-stage__panel--mute collapse show" id="stage-panel1">
                    <div class="u-p-medium">
                        <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Description</p>
                        <p class="u-mb-medium">What we have done so far is brighten the colour palette, created new “easy to understand” icons, overall organization of the page and also worked on the copy! After first user tesing  we got some great results - users that went through the page could navigate easily and explain Tapdaq’s services right after.</p>

                        <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Goals</p>
                        <div class="row">
                            <div class="col-md-7">
                                <ul>
                                    <li class="u-mb-xsmall u-text-small u-color-primary">
                                        <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>Launch New Portfolio within 30 days
                                    </li>
                                    <li class="u-mb-xsmall u-text-small u-color-primary">
                                        <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>SEO Optimization be at least on 2nd page on Google
                                    </li>
                                    <li class="u-mb-xsmall u-text-small u-color-primary">
                                        <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>All Shareable Images
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-5">
                                <ul>
                                    <li class="u-mb-xsmall u-text-small u-color-primary">
                                        <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>New Twitter Campaign
                                    </li>
                                    <li class="u-mb-xsmall u-text-small u-color-primary">
                                        <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>Setup Facebook Profile
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- // .c-stage__panel -->

                <a class="c-stage__header u-flex u-justify-between" data-toggle="collapse" href="#stage-panel2" aria-expanded="false" aria-controls="stage-panel2">
                    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Customer Details</h6>

                    <i class="fa fa-angle-down u-text-mute"></i>
                </a>

                <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel2">
                    <div class="u-p-medium">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quo dicta, accusantium, nesciunt vero reiciendis deserunt voluptas ullam aperiam ipsa obcaecati. Perspiciatis est, ut quas at, eaque itaque dicta quibusdam.</p>
                    </div>   
                </div><!-- // .c-stage__panel -->

                <a class="c-stage__header u-flex u-justify-between" data-toggle="collapse" href="#stage-panel3" aria-expanded="false" aria-controls="stage-panel3">
                    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Contract Files and Non-Disclosure</h6>

                    <i class="fa fa-angle-down u-text-mute"></i>
                </a>

                <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel3">
                    <div class="u-p-medium">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo similique illo dolore aliquid quas, saepe nostrum placeat vero, illum explicabo sed cumque dolorem iusto dolores aperiam! Veritatis quod neque excepturi!</p>
                    </div>
                </div><!-- // .c-stage__panel -->
            </article><!-- // .c-stage -->

            <article class="c-stage">
                <div class="c-stage__header o-media u-justify-start">
                    <div class="c-stage__icon o-media__img">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="c-stage__header-title o-media__body">
                        <h6 class="u-mb-zero">Stage 1 - Initial Design Draft</h6>
                        <p class="u-text-xsmall u-text-mute">Started 3 days ago  |  Expected time: 14 days</p>
                    </div>
                </div>

                <div class="c-stage__panel u-p-medium">

                    <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Description</p>
                    <p class="u-mb-medium">What we have done so far is brighten the colour palette, created new “easy to understand” icons, overall organization of the page and also worked on the copy! After first user tesing  we got some great results - users that went through the page could navigate easily and explain Tapdaq’s services right after.</p>

                    <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Resources</p>
                    <div class="row u-mb-medium">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-file-image-o u-text-mute u-mr-xsmall"></i>Previous-design.png
                                </li>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Marketing-Materials-2018.zip
                                </li>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>All-PSD-Files.zip
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-8">
                            <ul>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Brief.docx
                                </li>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Copy-for-landing-page-by-Jason.docx
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Main goal of this stage</p>

                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>New colour palette
                                </li>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>Brand new and cool icons
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li class="u-mb-xsmall u-text-small u-color-primary">
                                    <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>New copy
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div><!-- // .c-stage__panel -->

                <div class="c-stage__panel u-p-medium">
                    <div class="o-media u-mb-small">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar-72.jpg" alt="Profile Title">
                            </div>
                            
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-mb-zero u-text-small">Gerald (You)</h6>
                            <p class="u-text-mute u-text-xsmall">8:42AM</p>
                        </div>
                    </div><!-- // .o-media -->

                    <p class="u-mb-xsmall">Hi Steven! <br>I’m sending you our first draft along with our comments. I just love the way this is going. At this point we still need to do some polishing but would love to hear if we’re heading the right direction from you!</p>

                    <p>
                        <i class="fa fa-file-image-o u-mr-xsmall u-text-mute"></i>Landing-page-V1-png
                    </p>
                </div>

                <div class="c-stage__label">
                    <i class="c-stage__label-icon fa fa-check-circle"></i>
                    <p class="c-stage__label-title">Stage 1 - Approved</p>
                </div>

                <div class="c-stage__panel u-p-medium">
                    <div class="o-media u-mb-small">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar4-72.jpg" alt="Profile Title">
                            </div>
                            
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-mb-zero u-text-small">Steven Robinson</h6>
                            <p class="u-text-mute u-text-xsmall">8:49AM</p>
                        </div>
                    </div><!-- // .o-media -->

                    <p class="u-mb-xsmall">Amazing Stuff! I’ve approved this stage! Keep it up. We love it with Stephen! </p>
                </div>
            </article><!-- // .c-stage -->
        </div>

        <div class="col-xl-4">
            <div class="c-card u-mb-medium">

                <div class="u-p-medium">
                    <h5 class="u-h6 u-mb-medium">Project Members</h5>
                    <div class="o-media u-mb-small">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar2-72.jpg" alt="Profile Title">
                            </div>
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-text-small u-mb-zero">Steven Robinson</h6>
                            <p class="u-text-mute u-text-xsmall">Company CTO</p>
                        </div>
                    </div><!-- // .o-media -->

                    <div class="o-media u-mb-small">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar3-72.jpg" alt="Profile Title">
                            </div>
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-text-small u-mb-zero">Julia Harvey</h6>
                            <p class="u-text-mute u-text-xsmall">Company CMO</p>
                        </div>
                    </div><!-- // .o-media -->

                    <div class="o-media u-mb-small">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar4-72.jpg" alt="Profile Title">
                            </div>
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-text-small u-mb-zero">Fred Kelly</h6>
                            <p class="u-text-mute u-text-xsmall">Designer</p>
                        </div>
                    </div><!-- // .o-media -->

                    <div class="o-media">
                        <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--xsmall">
                                <img class="c-avatar__img" src="img/avatar6-72.jpg" alt="Profile Title">
                            </div>
                        </div>
                        <div class="o-media__body">
                            <h6 class="u-text-small u-mb-zero">Rose Martinez</h6>
                            <p class="u-text-mute u-text-xsmall">Copywriter</p>
                        </div>
                    </div><!-- // .o-media -->
                </div>
                
                <div class="u-pv-small  u-border-top u-text-center">
                    <a class="u-text-mute u-text-uppercase u-text-xsmall" href="#">Manage Members</a>
                </div>
            </div>

            <div class="c-card u-p-medium">
                <h5 class="u-h6 u-mb-medium">Project Details</h5>

                <table class="u-width-100">
                    <tbody>
                        <tr>
                            <td class="u-pb-xsmall u-color-primary u-text-small">Budget</td>
                            <td class="u-pb-xsmall u-text-right u-text-mute u-text-small">$4,670</td>
                        </tr>
                        <tr>
                            <td class="u-pb-xsmall u-color-primary u-text-small">Paid</td>
                            <td class="u-pb-xsmall u-text-right u-text-mute u-text-small">$1,240</td>
                        </tr>
                        <tr>
                            <td class="u-color-primary u-text-small">Next Payment</td>
                            <td class="u-text-right u-text-mute u-text-small">After 2nd Stage</td>
                        </tr>
                    </tbody>
                </table>

                <div class="c-divider u-mv-small"></div>

                <div class="u-flex u-justify-between u-align-items-center">
                    <p>Job Type</p>

                    <div>
                        <span class="c-badge c-badge--small c-badge--warning">Design</span>
                        <span class="c-badge c-badge--small c-badge--success">Marketing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- // .container -->

{% endblock %}