{% extends 'base_2.html' %} {% block title %}
  Proyecto - Detalle del Proyecto
{% endblock %} {% block content %}
  <div class="c-toolbar u-mb-medium">
    <a class="c-btn c-btn--info u-mr-auto" href="{% url 'project:project_list' %}">Volver al listado</a>
    <a class="c-btn c-btn--info u-ml-small" href="{% url 'project:project_update' project.id %}"><i class="fa fa-pencil-square-o u-mr-xsmall"></i>Editar Proyecto</a>
    <a class="c-btn c-btn--danger u-ml-small" href="#" onclick="showAlertProject('{{ project.id }}', '{{ project.name }}')"><i class="fa fa-trash-o u-mr-xsmall"></i>Eliminar Proyecto</a>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8">
        <article class="c-stage">
          <div class="c-stage__header o-media u-justify-start">
            <div class="c-stage__header-title o-media__body">
              <h2 class="u-mb-zero">{{ project.name }}</h2>
            </div>
          </div>

          <div class="c-stage__panel u-p-medium">
            <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Estado</p>
            <p class="u-mb-medium">
              <span class="c-badge c-badge--small" style="background-color: {{ project.status.color }};">{{ project.status }}</span>
            </p>

            {% if project.description %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Descripción</p>
              <p class="u-mb-medium">{{ project.description }}</p>
            {% endif %}

            {% if project.start_date %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Fecha de inicio</p>
              <p class="u-mb-medium">{{ project.start_date }}</p>
            {% endif %}

            {% if project.finish_date %}
              <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Fecha de finalización</p>
              <p class="u-mb-medium">{{ project.finish_date }}</p>
            {% endif %}
          </div>
          <!-- // .c-stage__panel -->
        </article>
        <!-- // .c-stage -->
      </div>

      <div class="col-xl-4">
        <div class="c-card u-mb-medium">
          <div class="u-p-medium">
            <h5 class="u-h6 u-mb-medium">Jefe de proyecto</h5>
            <div class="o-media u-mb-small">
              {% if profile_photo %}
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--xsmall">
                    <img class="c-avatar__img" src="{{ profile_photo.url }}" alt="Profile Title" />
                  </div>
                </div>
              {% endif %}
              <div class="o-media__body">
                <h6 class="u-text-small u-mb-zero">{{ project.project_manager }}</h6>
              </div>
            </div>
          </div>
        </div>

        {% if project.client %}
          <div class="c-card u-mb-medium">
            <div class="u-p-medium">
              <h5 class="u-h6 u-mb-medium">Cliente</h5>
              <div class="o-media u-mb-small">
                {% if profile_photo %}
                  <div class="o-media__img u-mr-xsmall">
                    <div class="c-avatar c-avatar--xsmall">
                      <img class="c-avatar__img" src="{{ profile_photo.url }}" alt="Profile Title" />
                    </div>
                  </div>
                {% endif %}
                <div class="o-media__body">
                  <h6 class="u-text-small u-mb-zero">{{ project.project_manager }}</h6>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- // .container -->
{% endblock %}
