{% extends 'base_2.html' %}

{% block title %}
  Proyecto - Lista Proyectos
{% endblock %}

{% block content %}
  <div class="c-toolbar u-mb-medium">
    <a class="c-btn c-btn--info u-mr-auto" href="{% url 'project:project_create' %}">Crear proyecto</a>
    <form class="d-flex" method="get">
      <div class="c-field c-field--inline u-mr-small">
        <select class="c-select has-search" id="select2" name="status">
          <option value="">Elegir estado</option>
          {% for status in statuses %}
            <option value="{{ status.name }}" {% if request.GET.status == status.name %}selected{% endif %}>{{ status.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="c-field c-field--inline has-icon-right u-hidden-down@tablet u-mr-small">
        <input class="c-input" type="text" placeholder="Buscar por nombre" name="search" value="{{ request.GET.search }}" />
        <span class="c-field__icon"><i class="fa fa-search"></i></span>
      </div>
      <button class="c-btn c-btn--info" type="submit">Buscar</button>
    </form>
  </div>
  <div class="container-fluid u-mt-medium">
    {% if messages %}
      <div class="row">
        <div class="col-lg-12">
          {% for message in messages %}
            <div class="c-alert {% if message.tags %}{{ message.tags }}{% endif %} alert fade show">
              <i class="c-alert__icon fa fa-check-circle"></i> {{ message }}
              <button class="c-close" data-dismiss="alert" type="button">×</button>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="row u-mb-large">
      <div class="col-md-12">
        {% if request.GET.search %}
          <h3 class="u-mb-small">Busqueda: {{ request.GET.search }}</h3>
        {% endif %}
        <div class="c-table-responsive@wide">
          <table class="c-table c-table--highlight u-mb-small">
            <caption class="c-table__title">
              Lista de Proyectos{% if request.GET.search %}
                <small>{{ total_search_projects }} proyectos</small>
              {% else %}
                <small>{{ total_projects }} estados</small>
              {% endif %}
            </caption>

            <thead class="c-table__head c-table__head--slim">
              <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head">#</th>
                <th class="c-table__cell c-table__cell--head">Nombre</th>
                <th class="c-table__cell c-table__cell--head">Fecha de inicio</th>
                <th class="c-table__cell c-table__cell--head">Fecha de finalización</th>
                <th class="c-table__cell c-table__cell--head">Estado</th>
                <th class="c-table__cell c-table__cell--head">Jefe de proyecto</th>
                <th class="c-table__cell c-table__cell--head">Cliente</th>
                <th class="c-table__cell c-table__cell--head">
                  <span class="u-hidden-visually">Actions</span>
                </th>
              </tr>
            </thead>

            <tbody>
              {% for project in projects %}
                <tr class="c-table__row">
                  <td class="c-table__cell">
                    <span class="u-text-mute">{{ project.id }}</span>
                  </td>
                  <td class="c-table__cell">{{ project.name }}</td>
                  <td class="c-table__cell">
                    {% if project.start_date %}
                      <span class="u-text-mute">{{ project.start_date }}</span>
                    {% endif %}
                  </td>
                  <td class="c-table__cell">
                    {% if project.finish_date %}
                      <span class="u-text-mute">{{ project.finish_date }}</span>
                    {% endif %}
                  </td>
                  <td class="c-table__cell">
                    <span class="c-badge c-badge--small" style="background-color: {{ project.status.color }};">{{ project.status }}</span>
                  </td>
                  <td class="c-table__cell">
                    <span class="u-text-mute">{{ project.project_manager }}</span>
                  </td>
                  <td class="c-table__cell">
                    {% if project.client %}
                      <span class="u-text-mute">{{ project.client }}</span>
                    {% endif %}
                  </td>

                  <td class="c-table__cell u-text-right">
                    <a href="{% url 'project:project_detail' project.id %}" class="c-btn c-btn--info u-mr-xsmall">Detalle</a>
                    <div class="c-dropdown dropdown">
                      <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>

                      <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                        <a class="c-dropdown__item dropdown-item" href="{% url 'project:project_update' project.id %}">Editar</a>
                        <a class="c-dropdown__item dropdown-item" href="#" onclick="showAlertProject('{{ project.id }}', '{{ project.name }}')">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% include 'projects/pagination_project.html' %}
      </div>
    </div>
  </div>
{% endblock %}
