{% extends "base.html" %}

{% load static %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block content %}

<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
      <header class="c-card__header u-text-center u-pt-large">
          <a class="c-card__icon" href="#!">
              <img src="{% static 'img/logo-login.svg' %}" alt="Dashboard's Logo">
          </a>
          <div class="row u-justify-center">
              <div class="col-9">
                  <h1 class="u-h3">Restablecer su contraseña</h1>
              </div>
          </div>
      </header>

      <div class="c-card__body">
        <h2 class="u-h5 u-text-center u-mb-medium">
          Le hemos enviado por correo electrónico instrucciones para configurar su contraseña.
        </h2>
        <h2 class="u-h5 u-text-center">
          Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró.
        </h2>
    </div>
  </div>
</div>

{% endblock %}
