{% extends "base.html" %}

{% load static %}

{% block title %}Contraseña cambiada{% endblock %}

{% block content %}

<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
      <header class="c-card__header u-text-center u-pt-large">
          <a class="c-card__icon" href="#!">
              <img src="{% static 'img/logo-login.svg' %}" alt="Dashboard's Logo">
          </a>
          <div class="row u-justify-center">
              <div class="col-9">
                  <h1 class="u-h3">Contraseña cambiada</h1>
              </div>
          </div>
      </header>

      <div class="c-card__body">
        <h2 class="u-h5 u-text-center">
          Su contraseña ha sido cambiada exitosamente.
        </h2>
    </div>
  </div>
</div>

{% endblock %}
