{% extends "base.html" %}

{% load static %}

{% block title %} Restablecer su contraseña {% endblock %}

{% block content %}

<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
      <header class="c-card__header u-text-center u-pt-large">
          <a class="c-card__icon" href="#!">
              <img src="{% static 'img/logo-login.svg' %}" alt="Dashboard's Logo">
          </a>
          <div class="row u-justify-center">
              <div class="col-9">
                  <h1 class="u-h3">Olvidaste tu contraseña</h1>
                  <p class="u-h6 u-text-mute">
                      Ingrese su dirección de correo electrónico para recibir instrucciones para restablecer su contraseña
                  </p>
              </div>
          </div>
      </header>
      
      <form class="c-card__body" method="post">
        {% csrf_token %}
          <div class="c-field u-mb-small">
              <label class="c-field__label" for="input1">Email:</label>
              {{ form.email }}
          </div>

          <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Enviar instrucciones para restablecer la contraseña</button>
      </form>
  </div>
</div>

{% endblock %}
