{% extends "base.html" %}

{% load static %}

{% block title %} Cambia tu contraseña {% endblock %}

{% block content %}

<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
      <header class="c-card__header u-text-center u-pt-large">
          <a class="c-card__icon" href="#!">
              <img src="{% static 'img/logo-login.svg' %}" alt="Dashboard's Logo">
          </a>
          <div class="row u-justify-center">
              <div class="col-9">
                  <h1 class="u-h3">Cambia tu contraseña</h1>
                  <p class="u-h6 u-text-mute">
                    Utilice el siguiente formulario para cambiar su contraseña.
                  </p>
              </div>
          </div>
      </header>

      <form class="c-card__body" method="post">
        {% csrf_token %}
        <div class="c-field u-mb-small">
          <label class="c-field__label">Contraseña anterior:</label>
          {{ form.old_password }}
        </div>

        <div class="c-field u-mb-small">
          <label class="c-field__label">Nueva contraseña:</label>
          {{ form.new_password1 }}
        </div>

        <div class="c-field u-mb-small">
          <label class="c-field__label">Nueva confirmación de contraseña:</label>
          {{ form.new_password2 }}
        </div>

        <ul class="u-mb-medium">
          <li><i class="fa fa-circle u-color-info u-text-mute u-mr-xsmall"></i>Su contraseña no puede ser demasiado similar a su otra información personal.</li>
          <li><i class="fa fa-circle u-color-info u-text-mute u-mr-xsmall"></i>Su contraseña debe contener al menos 8 caracteres.</li>
          <li><i class="fa fa-circle u-color-info u-text-mute u-mr-xsmall"></i>Su contraseña no puede ser una contraseña de uso común.</li>
          <li><i class="fa fa-circle u-color-info u-text-mute u-mr-xsmall"></i>Su contraseña no puede ser completamente numérica.</li>
        </ul>

        <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Cambiar contraseña</button>
      </form>
  </div>
</div>

{% endblock %}