{% load static %}

<div class="o-page__sidebar js-page-sidebar">
  <div class="c-sidebar">
    <a class="c-sidebar__brand" href="#"><img class="c-sidebar__brand-img" src="{% static 'img/logo.png' %}" alt="Logo" /> Batoro</a>

    <h4 class="c-sidebar__title">Dashboards</h4>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item">
        <a class="c-sidebar__link {% if section == 'dashboard' %}{% endif %}" href="{% url 'dashboard' %}"><i class="fa fa-table u-mr-xsmall"></i>Projects</a>
      </li>
    </ul>

    {% comment %} Tasks {% endcomment %}
    <h4 class="c-sidebar__title">Tareas</h4>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#task-submenu" aria-expanded="false" aria-controls="task-submenu"><i class="fa fa-table u-mr-xsmall"></i>Tareas</a>
        <ul class="c-sidebar__submenu collapse" id="task-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'task:task_list' %}">Ver Tareas</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'task:task_create' %}">Crear Tarea</a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#taks-status-submenu" aria-expanded="false" aria-controls="taks-status-submenu"><i class="fa fa-table u-mr-xsmall"></i>Estados</a>
        <ul class="c-sidebar__submenu collapse" id="taks-status-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_list' %}">Ver Estados</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_create' %}">Crear Estado</a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#taks-priority-submenu" aria-expanded="false" aria-controls="taks-priority-submenu"><i class="fa fa-table u-mr-xsmall"></i>Prioridades</a>
        <ul class="c-sidebar__submenu collapse" id="taks-priority-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_list' %}">Ver Prioridades</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_create' %}">Crear Prioridad</a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#taks-type-submenu" aria-expanded="false" aria-controls="taks-type-submenu"><i class="fa fa-table u-mr-xsmall"></i>Tipos</a>
        <ul class="c-sidebar__submenu collapse" id="taks-type-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_list' %}">Ver Tipos</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'task:status_create' %}">Crear Tipo</a>
          </li>
        </ul>
      </li>
    </ul>

    {% comment %} Projects {% endcomment %}
    <h4 class="c-sidebar__title">Proyectos</h4>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#project-submenu" aria-expanded="false" aria-controls="project-submenu"><i class="fa fa-table u-mr-xsmall"></i>Proyectos</a>
        <ul class="c-sidebar__submenu collapse" id="project-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'project:project_list' %}">Ver Proyectos</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'project:project_create' %}">Crear Proyecto</a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item has-submenu">
        <a class="c-sidebar__link" data-toggle="collapse" href="#project-status-submenu" aria-expanded="false" aria-controls="project-status-submenu"><i class="fa fa-table u-mr-xsmall"></i>Estados</a>
        <ul class="c-sidebar__submenu collapse" id="project-status-submenu">
          <li>
            <a class="c-sidebar__link" href="{% url 'project:status_list' %}">Ver Estados</a>
          </li>
          <li>
            <a class="c-sidebar__link" href="{% url 'project:status_create' %}">Crear Estado</a>
          </li>
        </ul>
      </li>
    </ul>

    {% comment %} Account {% endcomment %}
    <h4 class="c-sidebar__title">Cuenta</h4>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item">
        <a class="c-sidebar__link {% if section == 'account_settings' %}{% endif %}" href="{% url 'edit' %}"><i class="fa fa-cog u-mr-xsmall"></i>Ajustes</a>
      </li>
    </ul>
  </div>
  <!-- // .c-sidebar -->
</div>
<!-- // .o-page__sidebar -->
