{% load static %}

<div class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand" href="#">
            <img class="c-sidebar__brand-img" src="{% static "img/logo.png" %}" alt="Logo"> Batoro
        </a>
        
        <h4 class="c-sidebar__title">Dashboards</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link {% if section == "dashboard" %} is-active {% endif %}" href="{% url "dashboard" %}">
                    <i class="fa fa-table u-mr-xsmall"></i>Projects
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Cuenta</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link {% if section == "account_settings" %} is-active {% endif %}" href="{% url "edit" %}">
                    <i class="fa fa-cog u-mr-xsmall"></i>Ajustes
                </a>
            </li>
        </ul>

    </div><!-- // .c-sidebar -->
</div><!-- // .o-page__sidebar -->