{% extends "base_2.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 u-ml-auto u-mb-medium">
        <h1>Dashboard</h1>
        <h2>Hello {{ request.user.first_name|default:request.user.username }}</h2>
        <p>
          Welcome to your dashboard. You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.
        </p>          
      </div>
  </div>
</div><!-- // .container -->

{% endblock %}
